 #container{
            margin-top: 0 auto;
            text-decoration: none;
            font-weight: bolder;
            display: flex;
}
.photo{
            width: 50%;
            text-align: center;
}
li{
            margin-top: 0 auto;
            text-decoration: none;
            text-align: center;
            list-style-type:none ;
}
a{
           text-decoration: none;
           font-weight: bolder;
           font-size: xx-large;
           margin-top: 20%;
           font-style: inherit;
}
#container{
            background-color: aqua;
}
#introduction{
            text-align: center;
            font-size: larger;
            color: aliceblue;
            font-weight: bolder;
}
